@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background: #1a0e32;
  margin: 0;
}

.image-grid {
  background: #fff;
  padding: 0;
}

.image-grid img {
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

.floral-illustration {
  width: 25%;
}

.illustration-reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-frame {
  width: 15%;
}

.divider {
  width: 40%;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #1a0e32;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

footer a:hover {
  text-decoration: underline !important;
  color: #fff;
}

@media (max-width: 992px) {
  .section-frame {
    width: 20%;
  }
  .footer #footer-nav,
  .footer #footer-copyright {
    float: none !important;
  }
  footer .footer a {
    padding: 5px;
  }
}

#services:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "indulge-script-regular";
  src: url(/assets/fonts/Indulge-Script/indulge-script.otf);
}

html {
  font-size: 14px;
}

.navbar-transparent .logo-title {
  background: -webkit-gradient(linear, left top, right top, from(#914e3d), color-stop(9%, #b27362), color-stop(30%, #fac4b3), color-stop(50%, #fab5a5), to(#946051));
  background: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "indulge-script-regular";
  font-size: 1.7rem;
}

.navbar .logo-title {
  color: #1a0e32;
  font-family: "indulge-script-regular";
  font-weight: bold;
  font-size: 1.7rem;
}

.title {
  background: -webkit-gradient(linear, left top, right top, from(#914e3d), color-stop(9%, #b27362), color-stop(30%, #fac4b3), color-stop(50%, #fab5a5), to(#946051));
  background: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "indulge-script-regular";
  font-size: 2.5rem;
  padding-bottom: 10px;
  text-align: center;
  line-height: 3.7rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.8rem;
  }
}

@media (min-width: 1400px) {
  .title {
    font-size: 2.9rem;
  }
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) {
  .paragraph {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) {
  .paragraph {
    font-size: 1.2rem;
  }
}

.corporate-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  margin: 20px auto;
  line-height: 3.3rem;
}

@media (min-width: 768px) {
  .corporate-title {
    font-size: 2.1rem;
  }
}

@media (min-width: 1400px) {
  .corporate-title {
    font-size: 2.2rem;
  }
}

.corporate-para {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .corporate-para {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) {
  .corporate-para {
    font-size: 1.2rem;
  }
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #aaaaaa;
}

input:-moz-placeholder {
  color: #aaaaaa;
}

input::-moz-placeholder {
  color: #aaaaaa;
}

input:-ms-input-placeholder {
  color: #aaaaaa;
}

textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

textarea:-moz-placeholder {
  color: #aaaaaa;
}

textarea::-moz-placeholder {
  color: #aaaaaa;
}

textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/
.bg-contact100 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: #1a0e32;
}

.wrap-contact100 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 130px 50px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
  width: 310px;
  padding-top: 55px;
}

.contact100-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-form {
  width: 390px;
}

.contact100-form-title {
  display: block;
  font-family: "indulge-script-regular";
  font-weight: bold;
  font-size: 3rem;
  color: #1a0e32;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 36px;
}

input.input100 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 50px;
}

input.input100[name="email"] {
  padding: 0 30px 0 54px;
}

textarea.input100 {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 30px;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #666666;
}

/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
  color: rgba(132, 106, 221, 0.5);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    -webkit-box-shadow: 0px 0px 60px 25px;
            box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    -webkit-box-shadow: 0px 0px 60px 25px;
            box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #846add;
  padding-left: 22px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.contact100-form-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #1a0e32;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #846add;
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 1200px) {
  .contact100-pic {
    width: 33.5%;
  }
  .contact100-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 90px;
  }
  .contact100-pic {
    width: 35%;
  }
  .contact100-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 80px;
  }
  .contact100-pic {
    display: none;
  }
  .contact100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 110px 15px 157px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: "Open Sans", sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*------------------------------------------------------------------
[ Custom styles ]*/
.contact100-form .behind {
  z-index: 0;
}

.navbar {
  font-family: "Open Sans", sans-serif;
  opacity: 0.9;
}

.navbar .navbar-nav .nav-item .nav-link, .navbar .navbar-nav .nav-item .dropdown-item {
  font-size: 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.dropdown .dropdown-menu a:hover {
  background: #1a0e32;
}

#home-banner {
  margin-top: 10vh;
  height: 90vh;
}

#home-banner div {
  padding: 1em;
}

.logo {
  width: 80%;
}

@media (max-width: 768px) {
  .logo {
    width: 100%;
  }
}

#about-us {
  height: 100vh;
}

#about-us .title {
  margin: 0.5em;
}

@media (max-width: 992px) {
  #about-us {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #about-us .title {
    padding: 0 !important;
  }
  #about-us .about-us-textblock {
    padding: 1em;
  }
  #about-us .about-us-box {
    width: 100%;
    padding: 2em 1em;
  }
}

.about-us-box {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

#why-us {
  height: 100vh;
}

#why-us li {
  list-style-type: none;
  margin-top: 1.5em;
}

#why-us span {
  background: -webkit-gradient(linear, left top, right top, from(#914e3d), color-stop(9%, #b27362), color-stop(30%, #fac4b3), color-stop(50%, #fab5a5), to(#946051));
  background: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  display: inline-block;
  vertical-align: sub;
}

@media (max-width: 992px) {
  #why-us {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #why-us .why-us-textblock {
    padding: 1em;
  }
}

#our-story {
  padding: 1em 0;
}

#our-story h2 {
  margin-top: 0;
  margin-bottom: 100px;
}

#our-story h3.title {
  font-size: 1.8rem;
  padding: 10px 0;
  margin: 0;
}

#our-story .our-story-box {
  text-align: center;
  margin: 1em 0;
}

#our-story .founder-info {
  padding: 0 22px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  border: 4px solid transparent;
  border-radius: 20px;
  background: #1a0e32;
  background-clip: padding-box;
}

#our-story .founder-info::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: -webkit-gradient(linear, left top, right top, from(#914e3d), color-stop(9%, #b27362), color-stop(30%, #fac4b3), color-stop(50%, #fab5a5), to(#946051));
  background: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  content: "";
  z-index: -1;
}

#our-story .rounded-circle {
  height: 150px;
  width: 150px;
  margin: -85px 0 0px 0;
  display: inline-block;
}

#our-story p {
  padding: 2em 1em;
  margin-bottom: 0;
}

#services {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* [1] The container */
  /* [2] Transition property for smooth transformation of images */
  /* [3] Finally, transforming the image when container gets hovered */
}

#services h2.title {
  margin-top: 0;
}

#services .card {
  padding: 0;
  border: 3px solid rgba(151, 151, 151, 0.1);
  -webkit-box-shadow: 0px 24px 14px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 24px 14px -8px rgba(0, 0, 0, 0.75);
}

#services .img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

#services .img-hover-zoom img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#services .img-hover-zoom:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#services .card-title {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

#services .fr {
  float: right;
}

@media (max-width: 1200px) {
  #services {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (min-width: 992px) {
  #services .card {
    width: 400px !important;
  }
}

#contact-us {
  margin-top: 2em;
}

#contact-us .details {
  margin-top: 2em;
}

#contact-us .details p {
  color: black;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: underline;
}

#contact-us .contact100-pic img {
  height: 400px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  #contact-us {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

#wedding-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 14, 50, 0.7)), to(rgba(26, 14, 50, 0.7))), url(/assets/images/wedding/wedding-image.png);
  background: linear-gradient(rgba(26, 14, 50, 0.7), rgba(26, 14, 50, 0.7)), url(/assets/images/wedding/wedding-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}

#wedding-banner .banner-inner {
  height: 90vh;
  margin-top: 10vh;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#wedding-banner .title {
  margin: 0;
}

#wedding-banner .paragraph {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-banner .wedding-text-box {
    padding: 4em 0;
  }
}

@media (min-width: 768px) {
  #wedding-banner .paragraph {
    width: 70%;
  }
}

#wedding-events-list {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2em;
}

#wedding-events-list ul {
  list-style-type: none;
  line-height: 2em;
  margin: 1em 0;
  padding: 0;
}

#wedding-events-list li {
  margin-top: 1em;
}

#wedding-events-list span {
  background: -webkit-gradient(linear, left top, right top, from(#914e3d), color-stop(9%, #b27362), color-stop(30%, #fac4b3), color-stop(50%, #fab5a5), to(#946051));
  background: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  display: inline-block;
  vertical-align: sub;
}

@media (min-width: 768px) {
  #wedding-events-list {
    margin-bottom: 5em;
  }
}

.service {
  padding-bottom: 3em;
}

.service p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .service p {
    width: 90%;
  }
}

#wedding-first p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-first p {
    width: 90%;
  }
}

#wedding-first img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-first img {
    width: auto;
    max-width: 450px;
  }
}

#wedding-first :nth-child(4) {
  margin-top: 2em;
}

@media (min-width: 992px) {
  #wedding-first {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 100px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wedding-first :nth-child(4) {
    margin-top: 0;
  }
}

#wedding-second {
  margin: 5em 0;
}

#wedding-second p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-second p {
    width: 90%;
  }
}

#wedding-second img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-second img {
    width: auto;
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  #wedding-second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 100px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#wedding-third p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-third p {
    width: 90%;
  }
}

#wedding-third img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-third img {
    width: auto;
    max-width: 450px;
  }
}

#wedding-third :nth-child(4) {
  margin-top: 2em;
}

@media (min-width: 992px) {
  #wedding-third {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 100px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wedding-third :nth-child(4) {
    margin-top: 0;
  }
}

#wedding-fourth {
  margin: 5em 0;
}

#wedding-fourth p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-fourth p {
    width: 90%;
  }
}

#wedding-fourth img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-fourth img {
    width: auto;
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  #wedding-fourth {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 100px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#wedding-fourth img {
  margin-top: 2em;
}

@media (min-width: 992px) {
  #wedding-fourth img {
    margin-top: 0;
  }
}

#wedding-fifth p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-fifth p {
    width: 90%;
  }
}

#wedding-fifth img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-fifth img {
    width: auto;
    max-width: 450px;
  }
}

#wedding-fifth :nth-child(4) {
  margin-top: 2em;
}

@media (min-width: 992px) {
  #wedding-fifth {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 100px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wedding-fifth :nth-child(4) {
    margin-top: 0;
  }
}

#wedding-sixth {
  margin: 5em 0;
}

#wedding-sixth p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-sixth p {
    width: 90%;
  }
}

#wedding-sixth img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-sixth img {
    width: auto;
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  #wedding-sixth {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 100px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#wedding-seventh {
  margin: 5em 0;
}

#wedding-seventh p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-seventh p {
    width: 90%;
  }
}

#wedding-seventh img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-seventh img {
    width: auto;
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  #wedding-seventh {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 100px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#wedding-seventh img {
  margin-top: 2em;
}

@media (min-width: 992px) {
  #wedding-seventh img {
    margin-top: 0;
  }
}

#wedding-eighth p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-eighth p {
    width: 90%;
  }
}

#wedding-eighth img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-eighth img {
    width: auto;
    max-width: 450px;
  }
}

#wedding-eighth :nth-child(4) {
  margin-top: 2em;
}

@media (min-width: 992px) {
  #wedding-eighth {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 100px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wedding-eighth :nth-child(4) {
    margin-top: 0;
  }
}

#wedding-ninth {
  margin: 5em 0;
}

#wedding-ninth p {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #wedding-ninth p {
    width: 90%;
  }
}

#wedding-ninth img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wedding-ninth img {
    width: auto;
    max-width: 450px;
  }
}

.corporate {
  background: #fff;
}

h2 span {
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  border-bottom: 8px solid;
  padding-bottom: 5px;
}

#corporate-banner {
  background-image: url("/assets/images/corporate/corporate-events-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

@media (min-width: 768px) {
  #corporate-banner p {
    width: 70%;
  }
}

#employee-welfare {
  background-color: #1a0e32;
  height: 100vh;
  padding: 4em 0;
}

#employee-welfare img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
}

@media (min-width: 768px) {
  #employee-welfare img {
    width: auto;
    max-width: 450px;
  }
  #employee-welfare p {
    width: 75%;
  }
}

@media (max-width: 992px) {
  #employee-welfare {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

#trade-show {
  height: 100vh;
  position: relative;
  padding: 4em 0;
}

#trade-show:before {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: "";
  background-color: #1a0e32;
}

#trade-show img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
}

#trade-show .trade-text-box {
  margin: 0 1em;
}

#trade-show h2 {
  color: #212529;
  text-align: center;
}

#trade-show p {
  color: #212529;
  text-align: center;
}

@media (min-width: 768px) {
  #trade-show:before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    content: "";
    background-color: #1a0e32;
  }
  #trade-show img {
    width: auto;
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  #trade-show {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

#training {
  background-color: #1a0e32;
  height: 100vh;
  padding: 4em 0;
}

#training img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
}

@media (min-width: 768px) {
  #training img {
    width: auto;
    max-width: 450px;
  }
  #training p {
    width: 75%;
  }
}

@media (max-width: 992px) {
  #training {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

#fitness {
  position: relative;
  height: 100vh;
  padding: 4em 0;
}

#fitness:before {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 40%;
  content: "";
  background-color: #1a0e32;
}

#fitness img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
}

#fitness .fitness-text-box {
  padding: 0 1em;
}

#fitness h2 {
  color: #212529;
  text-align: center;
}

#fitness p {
  color: #212529;
  text-align: center;
}

@media (min-width: 768px) {
  #fitness:before {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    content: "";
    background-color: #1a0e32;
  }
  #fitness img {
    width: auto;
    max-width: 450px;
  }
}

#annual-day {
  background-color: #1a0e32;
  height: 100vh;
  padding: 4em 0;
}

#annual-day img {
  border: 8px solid;
  border-image-source: linear-gradient(to right, #914e3d 0%, #b27362 9%, #fac4b3 30%, #fab5a5 50%, #946051 100%);
  border-image-slice: 1;
  padding: 15px;
  width: 70%;
  height: auto;
}

@media (min-width: 768px) {
  #annual-day img {
    width: auto;
    max-width: 450px;
  }
  #annual-day p {
    width: 75%;
  }
}

@media (max-width: 992px) {
  #annual-day {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=styles.css.map */