@font-face {
  font-family: "indulge-script-regular";
  src: url(/assets/fonts/Indulge-Script/indulge-script.otf);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

html {
  font-size: 14px;
}

.navbar-transparent .logo-title {
  @include text-gradient;
  font-family: $primary-font;
  font-size: 1.7rem;
}

.navbar .logo-title {
  color: #1a0e32;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 1.7rem;
}

.title {
  @include text-gradient;
  font-family: $primary-font;
  font-size: 2.5rem;
  padding-bottom: 10px;
  text-align: center;
  line-height: 3.7rem;

  @media (min-width: 768px) {
    font-size: 2.8rem;
  }

  @media (min-width: 1400px) {
    font-size: 2.9rem;
  }
}

.paragraph {
  font-family: $secondary-font;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }

  @media (min-width: 1400px) {
    font-size: 1.2rem;
  }
}

.corporate-title {
  font-family: $secondary-font;
  font-size: 1.6rem;
  color: #fff;
  margin: 20px auto;
  line-height: 3.3rem;

  @media (min-width: 768px) {
    font-size: 2.1rem;
  }
  @media (min-width: 1400px) {
    font-size: 2.2rem;
  }
}

.corporate-para {
  font-family: $secondary-font;
  font-size: 1rem;
  color: #fff;
  margin: 0 auto;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }

  @media (min-width: 1400px) {
    font-size: 1.2rem;
  }
}
