// Wedding Banner Section
#wedding-banner {
  background: linear-gradient(rgba(26, 14, 50, 0.7), rgba(26, 14, 50, 0.7)),
    url(/assets/images/wedding/wedding-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;

  .banner-inner {
    height: 90vh;
    margin-top: 10vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .title {
    margin: 0;
  }

  .paragraph {
    width: 90%;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .wedding-text-box {
      padding: 4em 0;
    }
  }

  @media (min-width: 768px) {
    .paragraph {
      width: 70%;
    }
  }
}

// Wedding Events List Section
#wedding-events-list {
  height: fit-content;
  margin-bottom: 2em;

  ul {
    list-style-type: none;
    line-height: 2em;
    margin: 1em 0;
    padding: 0;
  }

  li {
    margin-top: 1em;
  }

  span {
    @include text-gradient;
    font-size: 2rem;
    display: inline-block;
    vertical-align: sub;
  }

  @media (min-width: 768px) {
    margin-bottom: 5em;
  }
}

// Service
.service {
  @include para-width;
  padding-bottom: 3em;
}

// Wedding First Section
#wedding-first {
  @include quadrant-style;
}

// Wedding Second Section
#wedding-second {
  @include twin-pod;
}

// Wedding Third Section
#wedding-third {
  @include quadrant-style;
}

// Wedding Fourth Section
#wedding-fourth {
  @include twin-pod;

  img {
    margin-top: 2em;

    @media (min-width: 992px) {
      margin-top: 0;
    }
  }
}

// Wedding Fifth Section
#wedding-fifth {
  @include quadrant-style;
}

// Wedding Sixth Section
#wedding-sixth {
  @include twin-pod;
}

// Wedding Seventh Section
#wedding-seventh {
  @include twin-pod;

  img {
    margin-top: 2em;

    @media (min-width: 992px) {
      margin-top: 0;
    }
  }
}

// Wedding Eighth Section
#wedding-eighth {
  @include quadrant-style;
}

// Wedding Ninth Section
#wedding-ninth {
  @include para-width;
  margin: 5em 0;

  img {
    @include sm-screen-img;
    display: block;
    margin: 0 auto;
    background-color: #fff;

    @media (min-width: 768px) {
      @include lg-screen-img;
    }
  }
}
